.body {
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.left-form {
	width: 360px;
	margin-top: 100px;
	animation: fadeOut 1.5s;
}

.left-form.active {
	animation: fadeIn 1.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.float-left {
	text-align: left;
	float: left;
	width: 400px;
}

.right-form {
	width: 700px;
	margin-top: 100px;
	float: right;
	animation: fadeIn 1.5s;
}

.right-form.active {
	animation: fadeOut 1.5s;
}

.float-right {
	text-align: left;
	float: right;
	width: 400px;
	border-radius: 20px;
}

.title {

	font-size: 2rem;
	color: #191818;
	font-weight: 700;
}

.signin-button {
	display: flex;
	justify-content: center;
}

.button-change {
	font-size: 12px;
	font-weight: 600;
	color: #1a56db;
	margin-top: 5px;
	margin-left: 1200px;
	position: absolute;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #1a56db;
	height: 30px;
	width: 120px;
	z-index: 6;
}

.container-top {
	margin-left: 70px;
	background: url('../image/image.jpg');
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	height: 720px;
	width: 45%;
	position: absolute;
	z-index: 5;
	animation: change 0.6s;
}

.container-top.active {
	transform: translateX(100%);
	opacity: 1;
	animation: rechange 1s;
}

@keyframes change {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes rechange {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

.circle {
	opacity: 0.3;
	background-color: #ffffff;
	height: 250px;
	width: 250px;
	border-radius: 250px;
	z-index: 10;
	margin-top: 460px;
	margin-left: 420px;
	animation: circleDown 1s;
}

.circle.active {
	background-color: #ffffff;
	height: 500px;
	width: 500px;
	border-radius: 500px;
	z-index: 10;
	margin-top: -80px;
	margin-left: -70px;
	animation: circleUp 1s;
}

@keyframes circleUp {
	from {
		background-color: #ffffff;
		height: 250px;
		width: 250px;
		border-radius: 250px;
		z-index: 10;
		margin-top: 460px;
		margin-left: 420px;
	}

	to {
		background-color: #ffffff;
		height: 500px;
		width: 500px;
		border-radius: 500px;
		z-index: 10;
		margin-top: -80px;
		margin-left: -70px;
	}
}

@keyframes circleDown {
	from {
		background-color: #ffffff;
		height: 500px;
		width: 500px;
		border-radius: 500px;
		z-index: 10;
		margin-top: -80px;
		margin-left: -70px;
	}

	to {
		background-color: #ffffff;
		height: 250px;
		width: 250px;
		border-radius: 250px;
		z-index: 10;
		margin-top: 460px;
		margin-left: 420px;
	}

}